<link href="assets/css/sb-admin.css" rel="stylesheet" type="text/css">
<header class="intro-header" style="background-image: url('assets/images/blackscreen.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 id="test">TheSocialSpot</h1>
                        <hr class="small">
						<h3 id="test">PARIS</h3>
                        <!-- <span class="subheading">Join us !</span> -->
                    </div>
                </div>
            </div>
        </div>
</header>
<div class="container; panel " id="page-content-wrapper">
	<table class="table">
		<tr class="page-header">
			<h1 class="panel-heading"> Do you have any ideas {{ $ctrl.getCurrentUser().name }} ?
			</h1>
		</tr>
    </table>
    <table class="noBorder; panel-body ; table" style="margin-top:30px;">
      <thead style="color:#000000;font-size:20px; margin-left:10px;">
        <tr>
          <th>TOPIC</th>
          <th>IDEA</th>
          <th>Actions</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody ng-mouseenter="options=true" ng-mouseleave="options=false">
		  <!-- <tr> -->
          <td><input class="form-control" ng-model="$ctrl.newThing" placeholder="what's on your mind ?"></td>
          <td><input class="form-control" ng-model="$ctrl.newInfo" placeholder="what's your IDEA ?"></td>
          <td><button class="btn btn-primary" ng-click="$ctrl.addThing()">Share</button></td>
          <td><button class="btn btn-info" ng-click="$ctrl.updateThings()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="$ctrl.deselectThings()">Clear</button></td>
	  <!-- </tr> -->
		<tr ng-repeat="thing in $ctrl.awesomeThings| filter:$ctrl.newThing | orderBy:'Description'">
          <td>{{thing.name}}</td>
		  <td>{{thing.info}}</td>
          <td><button ng-show="options" class="btn btn-danger" ng-click="$ctrl.deleteThing(thing)">Remove</button></td>
          <td><button ng-show="options" class="btn btn-warning" ng-click="$ctrl.editThing(thing)">Edit</button></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container; panel " id="page-content-wrapper">
<button class="btn btn-default" ng-click="$ctrl.closeVid()">----</button>
<div class="animated shake" style="margin-top:30px; margin-bottom:30px;" align="center" id="youtube"></div>
<table class="table table-hover">
	<thead class="panel-heading" style="margin-bottom:20px;">
		<td><input class="form-control" ng-model="$ctrl.newVideoCode" placeholder="Youtube Link"></td>
		<td><input class="form-control" ng-model="$ctrl.newTitle" placeholder="Title"></td>
		<td><input class="form-control" ng-model="$ctrl.newDesc" placeholder="Description"></td>
		<td><button class="btn btn-primary" ng-click="$ctrl.addVid()">Share</button></td>
		<tr>
			<td>ID</td>
			<td>Title</td>
			<td>Description</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="v in $ctrl.videosList" ng-click="$ctrl.displayVids(v)">
			<td>{{v.id}}</td>
			<td>{{v.title}}</td>
			<td>{{v.desc}}</td>
		</tr>
		<tr ng-repeat="v in $ctrl.awesomeVids">
			<td ng-click="$ctrl.displayVids(v)">{{v.id}}</td>
			<td ng-click="$ctrl.displayVids(v)">{{v.title}}</td>
			<td ng-click="$ctrl.displayVids(v)">{{v.desc}}</td>
			<td><button class="btn btn-danger" ng-click="$ctrl.deleteVid(v)">Remove</button></td>
		</tr>
	</tbody>
</table>
</div>
